<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit post</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
        <h2 style="text-align: center; margin-left: -18%">
      <a href="{% url 'post_detail' post.id %}">Go back to post</a>
    </h2>
    <div class="center-form">
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="comment-btn" type="submit">Edit</button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
