<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset password</title>
  </head>
  <style>
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      width: 300px;
      margin: auto;
      padding-right: 10px;
    }
  </style>
  <body>
    {% extends "base.html" %} {% block content %}
    <h2 class="center-container" style="height: 10vh">Reset password</h2>
    <a href="{% url 'login' %}" class="center">Back to Login</a>
    <form class="center-container" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-lost-password">
        Reset password
      </button>
    </form>
    {% endblock %}
  </body>
</html>
