<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
    <style>
      ul.errorlist {
        margin-left: 5%;
      }
    </style>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <h2 style="text-align: center; margin-left: 15%">Sign up</h2>
    <form style="max-width: 500px; margin: auto;" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn" style="margin-left: 5%">Sign up</button>
    </form>
    {% endblock %}
  </body>
</html>
