<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}Posts</title>
  </head>
  {% load static %}

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'posts/style.css' %}"
  />

  <body
    class="{% if 'dark_mode' in request.session %}dark-mode{% else %}light-mode{% endif %}"
  >
    <nav>
      <ul>
        <li><a href="{% url 'posts_list' %}">Home</a></li>
        <li>
          <a>
            <img
              class="logo"
              src="{% static 'posts/assets/logo.svg' %}"
              alt="Logo"
            />
          </a>
        </li>
        <li>
          <a href="{% url 'dark_mode' %}">Dark mode</a>
        </li>
        <li>
          <a href="{% url 'login' %}" style="position: absolute; right: 10%"
            >Login</a
          >
        </li>
        <li>
          <a href="{% url 'signup' %}" style="position: absolute; right: 6%"
            >Sign up</a
          >
        </li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
